<%= link_to gravatar_for(current_user, size: 50), current_user %>
<h1><%= current_user.name %></h1>
<span><%= link_to "浏览我的资料", current_user %></sapn>
<span><%= "微博数：" + current_user.microposts.count.to_s %></span>