<footer class="footer">
  <small>
  Designed by Dounx
  </small>
  <nav>
  <ul>
    <li><%= link_to "About", about_path %></li>
    <li><%= link_to "Contact", contact_path %></li>
    <li><a href="https://github.com/Dounx/">Github</a></li>
  </ul>
  </nav>
</footer>